.navbar {
  background-image: linear-gradient(
    to right,
    #af7aa1,
    #4e79a7,
    #76b7b2,
    #59a14f,
    #edc949,
    #f28e2c,
    #e15759
  );
}

.navbarBrand {
  margin-left: 40px;
  color: white;
}

.navlink {
  color: white;
}
