.treemapcontainer {
  margin: 2vh auto 5vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.databuttoncontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.databutton {
  margin: 20px;
}
