.appcontainer {
  margin: 1vh auto 5vh auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.databuttoncontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.databuttoncontainer h5 {
  font-size: 1rem;
}

.databutton {
  margin: 20px 20px 20px 20px;
  border: none;
}

.databutton:first-of-type {
  background-color: #4e79a7;
}

.databutton:nth-of-type(2) {
  background-color: #59a14f;
}

.databutton:nth-of-type(3) {
  background-color: #e15759;
}
